@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --blue: #46c8dc;
    --pink: #ff8787;
    --yellow: #ffd700;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
    
    .glow {
        @apply hover:shadow-[0_0_25px_5px_rgba(255,255,255,0.6)];
    }
    
    .navItem {
        @apply flex-center glow absolute transform rounded-lg cursor-pointer hover:scale-[110%];
    }
    
    .code_pack {
        @apply flex-center absolute text-xl font-bold text-black;
    }
}
